:root {
    --background: #000;
    --grey-base: #1e1f20;
    --grey-light: #2b2c2d;
    --blue: #006ab6;
    --dark-green: #153319;
    --color-text: #e3e3e3;

    --dark-gray-pink: #42323c;
    --brownish: #56453e;

    background-color: transparent;
}
